<footer class="site-footer">
  <div class="container">
    <div class="row g-4">
      <div class="col-lg-4">
        <h5 class="brand-mark mb-3">REFLECTIONS</h5>
        <p class="mb-0">Creative digital agency for bold brands.</p>
      </div>
      <div class="col-lg-3">
        <h6>Quick Links</h6>
        <ul class="footer-links list-unstyled">
          <li><a href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="case-studies.html">Case Studies</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
      </div>
      <div class="col-lg-2">
        <h6>Follow</h6>
        <div class="social-icons d-flex gap-3">
          <a href="#" aria-label="Instagram"><i class="fa-brands fa-instagram"></i></a>
          <a href="#" aria-label="LinkedIn"><i class="fa-brands fa-linkedin-in"></i></a>
          <a href="#" aria-label="X"><i class="fa-brands fa-x-twitter"></i></a>
        </div>
      </div>
      <div class="col-lg-3">
        <h6>Contact</h6>
        <p class="mb-1">hello@reflections.agency</p>
        <p class="mb-0">+1 555 123 4578</p>
      </div>
    </div>
    <div class="footer-bottom d-flex flex-wrap justify-content-between align-items-center mt-4 pt-3">
      <small>&copy; <span id="footer-year"></span> Reflections Digital Agency</small>
      <small>All rights reserved</small>
    </div>
  </div>
</footer>
