<header class="site-header fixed-top">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand brand-mark" href="index.html">REFLECTIONS</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="mainNav">
        <ul class="navbar-nav ms-auto gap-lg-3">
          <li class="nav-item"><a class="nav-link" data-page-link="home" href="index.html">Home</a></li>
          <li class="nav-item"><a class="nav-link" data-page-link="about" href="about.html">About</a></li>
          <li class="nav-item"><a class="nav-link" data-page-link="case-studies" href="case-studies.html">Case Studies</a></li>
          <li class="nav-item"><a class="nav-link" data-page-link="contact" href="contact.html">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
