<header class="site-header akaru-header">
  <div class="akaru-logo">
    <a href="index.html">Reflections</a>
  </div>

  <button class="menu-toggle closed" type="button" aria-label="Toggle menu" aria-expanded="false">
    <div class="menu-toggle-icon">
      <div class="hamburger">
        <div class="menu-bar" data-position="top"></div>
        <div class="menu-bar" data-position="bottom"></div>
      </div>
    </div>
    <div class="menu-copy">
      <p>Menu</p>
    </div>
  </button>

  <div class="menu" aria-hidden="true">
    <div class="col col-1">
      <div class="menu-logo">
        <a href="index.html">Reflections</a>
      </div>
      <div class="links">
        <div class="link"><a data-page-link="home" href="index.html">Home</a></div>
        <div class="link"><a data-page-link="about" href="about.html">About</a></div>
        <div class="link"><a data-page-link="case-studies" href="case-studies.html">Case Studies</a></div>
        <div class="link"><a data-page-link="contact" href="contact.html">Contact</a></div>
      </div>
      <div class="video-wrapper">
        <video autoplay muted loop playsinline>
          <source src="cg-akaru-menu-js/assets/video.mp4" type="video/mp4">
        </video>
      </div>
    </div>
    <div class="col col-2">
      <div class="socials">
        <div class="sub-col">
          <p>Reflections</p>
          <p>Creative District</p>
          <p>New York, USA</p>
          <p>Remote-first</p>
          <br>
          <p>hello@reflections.agency</p>
          <p>jobs@reflections.agency</p>
        </div>
        <div class="sub-col">
          <p>Instagram</p>
          <p>LinkedIn</p>
          <p>X / Twitter</p>
          <p>Dribbble</p>
          <br>
          <p>+1 555 123 4578</p>
        </div>
      </div>

      <div class="header">
        <h1>Reflections</h1>
      </div>
    </div>
  </div>
</header>
